Makefile
Project/Homebrew/.qmake.stash
Project/Homebrew/Makefile
Project/Homebrew/moc
Project/Homebrew/moc_*
Project/Homebrew/QCTools.app
Project/Homebrew/qrc_Resources.cpp
Project/Homebrew/*.h
Project/QtCreator/.qmake.stash
Project/QtCreator/Makefile
Project/QtCreator/Makefile.Debug
Project/QtCreator/Makefile.Release
Project/QtCreator/moc
Project/QtCreator/moc_*
Project/QtCreator/resources/qrc_Resources.cpp
Project/QtCreator/*.h
Project/QtCreator/qctools-cli/moc_*
Project/QtCreator/qctools-cli/qcli
Project/QtCreator/qctools-gui/moc_*
Project/QtCreator/qctools-gui/qmake_help_images.qrc
Project/QtCreator/qctools-gui/qrc_qmake_help_images.cpp
Project/QtCreator/qctools-gui/qrc_Resources.cpp
Project/QtCreator/qctools-gui/QCTools.app
Project/QtCreator/qctools-gui/*.h
Project/QtCreator/qctools-lib/libqctools.a
Project/QtCreator/qctools-lib/moc_*
Source/Makefile
Source/Source.pro
Source/build
build-*
.qmake.conf
*.user
*.o

docs/qctools.html
docs/qctools.pdf

.DS_Store
