Makefile
Project/Homebrew/.qmake.stash
Project/Homebrew/Makefile
Project/Homebrew/moc
Project/Homebrew/moc_*
Project/Homebrew/QCTools.app
Project/Homebrew/qrc_Resources.cpp
Project/Homebrew/*.h
Project/QtCreator/.qmake.stash
Project/QtCreator/Makefile
Project/QtCreator/Makefile.Debug
Project/QtCreator/Makefile.Release
Project/QtCreator/moc
Project/QtCreator/moc_*
Project/QtCreator/qmake_help_images.qrc
Project/QtCreator/qrc_qmake_help_images.cpp
Project/QtCreator/qrc_Resources.cpp
Project/QtCreator/QCTools.app
Project/QtCreator/resources/qrc_Resources.cpp
Project/QtCreator/*.h
Source/Makefile
Source/Source.pro
Source/build
*.o

docs/qctools.html
docs/qctools.pdf

.DS_Store
