[Desktop Entry]
Type=Application
Version=1.1
Name=QCTools
GenericName=QCTools
Comment=QCTools
Icon=qctools
Exec=QCTools %f
Terminal=false
MimeType=
Categories=AudioVideo;AudioVideoEditing;
